@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../**/*.vue";

@plugin "daisyui" {
    themes: wynq-light --default, wynq-dark --prefersdark;
}

@plugin "daisyui/theme" {
    name: "wynq-light";
    default: true;
    prefersdark: false;
    color-scheme: "light";
    --color-base-100: oklch(98% 0.002 247.839);
    --color-base-200: oklch(96% 0.003 264.542);
    --color-base-300: oklch(92% 0.006 264.531);
    --color-base-content: oklch(13% 0.028 261.692);
    --color-primary: oklch(0.8541 0.1268 141.05);
    --color-primary-content: oklch(26% 0.065 152.934);
    --color-secondary: oklch(80% 0.105 251.813);
    --color-secondary-content: oklch(28% 0.091 267.935);
    --color-accent: oklch(94% 0.129 101.54);
    --color-accent-content: oklch(28% 0.066 53.813);
    --color-neutral: oklch(20% 0.042 265.755);
    --color-neutral-content: oklch(86% 0.022 252.894);
    --color-info: oklch(74% 0.16 232.661);
    --color-info-content: oklch(29% 0.066 243.157);
    --color-success: oklch(76% 0.177 163.223);
    --color-success-content: oklch(26% 0.051 172.552);
    --color-warning: oklch(83% 0.128 66.29);
    --color-warning-content: oklch(26% 0.079 36.259);
    --color-error: oklch(70% 0.191 22.216);
    --color-error-content: oklch(25% 0.092 26.042);
    --radius-selector: 0.5rem;
    --radius-field: 0.5rem;
    --radius-box: 1rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 0;
    --noise: 0;
}

@plugin "daisyui/theme" {
    name: "wynq-dark";
    default: false;
    prefersdark: true;
    color-scheme: "dark";
    --color-base-100: oklch(13% 0.028 261.692);
    --color-base-200: oklch(21% 0.034 264.665);
    --color-base-300: oklch(27% 0.033 256.848);
    --color-base-content: oklch(98% 0.002 247.839);
    --color-primary: oklch(0.8541 0.1268 141.05);
    --color-primary-content: oklch(26% 0.065 152.934);
    --color-secondary: oklch(80% 0.105 251.813);
    --color-secondary-content: oklch(28% 0.091 267.935);
    --color-accent: oklch(94% 0.129 101.54);
    --color-accent-content: oklch(28% 0.066 53.813);
    --color-neutral: oklch(96% 0.007 247.896);
    --color-neutral-content: oklch(12% 0.042 264.695);
    --color-info: oklch(74% 0.16 232.661);
    --color-info-content: oklch(29% 0.066 243.157);
    --color-success: oklch(76% 0.177 163.223);
    --color-success-content: oklch(26% 0.051 172.552);
    --color-warning: oklch(83% 0.128 66.29);
    --color-warning-content: oklch(26% 0.079 36.259);
    --color-error: oklch(70% 0.191 22.216);
    --color-error-content: oklch(25% 0.092 26.042);
    --radius-selector: 0.5rem;
    --radius-field: 0.5rem;
    --radius-box: 1rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 0;
    --noise: 0;
}
